<%= form_with(model: customized_content, local: true) do |form| %>
  <% if customized_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customized_content.errors.count, "error") %> prohibited this customized_content from being saved:</h2>

      <ul>
      <% customized_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-sm-6">
    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, id: :customized_content_title, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= form.label :textContent %>
      <%= form.text_field :textContent, id: :customized_content_textContent , class: "form-control" %>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div class="form-group">
      <%= form.label :titleMenu %>
      <%= form.text_field :titleMenu, id: :customized_content_titleMenu , class: "form-control" %>
    </div>
  </div>
  
  <div class="col-sm-12">
    <div class="form-group">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
