<p id="notice"><%= notice %></p>

<h3>Content Images</h3>

<table class="table">
  <thead>
    <tr>
      <th>File name</th>
      <th>Alternative text</th>
      <th>Optional caption</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @content_images.each do |content_image| %>
      <tr>
        <td><%= content_image.file_name %></td>
        <td><%= content_image.alternative_text %></td>
        <td><%= content_image.optional_caption %></td>

        <td><%= link_to 'Show', content_image, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_content_image_path(content_image), class: "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', content_image, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Content Image', new_content_image_path,class: "btn btn-primary" %>
