<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-sm-6"> 
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, id: :patient_name, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, id: :patient_email, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= form.label :address %>
      <%= form.text_field :address, id: :patient_address, class: "form-control" %>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div class="form-group">
      <%= form.label :alergies %>
      <%= form.text_field :alergies, id: :patient_alergies, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= form.label :medical_notes %>
      <%= form.text_field :medical_notes, id: :patient_medical_notes, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
