<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @appointment.fee %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment), class: "btn btn-primary" %> |
<%= link_to 'Back', appointments_path, class: "btn btn-primary" %>
