<!DOCTYPE html>
<html>
<head>
  <title>DentalClinicProject</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">Ninja Dentist</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        <% CustomizedContent.all.each do |content| %>
          <li><a href="/show_format_content/<%= content.id.to_s %>"><%= content.titleMenu %></a></li>
        <% end %>
        <li><%= link_to "Contact", :show_form_for_user %></li>
        <% if defined?(@user) %>
          <li><%= link_to "Patients", :patients %></li>
          <li><%= link_to "Appointments", :appointments %></li>
          <% if @user.login_type == "admin" %>

            <li><%= link_to "Admin Contacts", :contacts %></li>
            <li><%= link_to "Content", :customized_contents %></li>
            <li><%= link_to "Content Image", :content_images %></li>

            <li><%= link_to "Dentists", :dentists %></li>

            <li><%= link_to "Users", :users %></li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reporters<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/daily_appointment">Daily appointments</a></li>
                <li><a href="/appointment_by_dentist">Total Fee per dentist</a></li>
                <li><a href="/contact_status">Contacts List per Status</a></li>
                <li><a href="/appointment_by_patient">Patients per doctor</a></li>
              </ul>
            </li>

          <% end %>

        <% end %>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if !defined?(@user) %>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% else %>
          <li><%= link_to " Log Out", "/logout", :data => {confirm: "Do you want log out?"}, class: "glyphicon glyphicon-log-out" %></li>
        <% end %>
      </ul>
    </div>


  </div>
</nav>

<%= yield %>
</body>
</html>
