<%= form_with(model: dentist, local: true) do |form| %>
  <% if dentist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dentist.errors.count, "error") %> prohibited this dentist from being saved:</h2>

      <ul>
      <% dentist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-sm-6">
    <div class="from-group">
      <%= form.label :name %>
      <%= form.text_field :name, id: :dentist_name, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, id: :dentist_email, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= form.label :phone_number %>
      <%= form.text_field :phone_number, id: :dentist_phone_number, class: "form-control" %>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div class="form-group">
      <%= form.label :dental_number %>
      <%= form.number_field :dental_number, id: :dentist_dental_number, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= form.label :is_active %>
      <%= form.check_box :is_active, id: :dentist_is_active, class: "form-control" %>
    </div>
  </div>  
  
  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
